@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2 {
  font-family: "Oswald";
}

p {
  font-family: "Quattrocento Sans";
}

ul {
  list-style: none;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 2;
  background: #e75a7c;
}

.top-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald";
  height: 10vh;
  width: 95%;
  margin: auto;
  font-size: 2em;
  background: #e75a7c;
}

.top-nav h1 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.top-nav ul {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top-nav a:hover {
  color: #eee5e9;
}

.top-nav .dropdown-button {
  padding: 0.5em;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.top-nav .dropdown-button:hover {
  color: #eee5e9;
}

.dropdown-container {
  position: absolute;
  top: 10vh;
  width: 100vw;
}

.dropdown-content {
  max-height: 0px;
  width: 100%;
  overflow-y: hidden;
  -webkit-transition: max-height 0.7s ease-in-out;
  transition: max-height 0.7s ease-in-out;
  z-index: 2;
  background: #e75a7c;
}

.dropdown-content ul {
  font-family: "Oswald";
  font-size: 2em;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dropdown-content a:hover {
  color: #eee5e9;
}

.dropdown-content-open {
  max-height: 500px;
}

.main {
  max-height: auto;
}

#story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background: #eee5e9;
}

#story * {
  margin-top: 1.5em;
}

#story .story-image {
  height: 100%;
  width: 50%;
}

#story .story-image img {
  height: 100%;
  width: 100%;
}

#story .story-text {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em;
}

#story .story-text h1 {
  letter-spacing: 0.5em;
  margin-bottom: 1em;
}

#story .story-text p {
  line-height: 1.5;
}

#story .story-text button {
  outline: none;
  border: none;
  padding: 1em 1.5em;
  background: #e75a7c;
  font-size: 2rem;
  color: #000000;
}

#story .story-text button:hover {
  color: #eee5e9;
  cursor: pointer;
}

#pricing {
  background: #e8ec67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  height: auto;
  width: 100vw;
}

#pricing .pricing-header h1 {
  font-size: 5em;
  letter-spacing: 0.5em;
}

#pricing .pricing-grid {
  height: auto;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1em;
  margin-bottom: 2em;
}

#pricing .price-card {
  height: 20rem;
  width: 100%;
  background: #00ffc5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.25em;
  line-height: 1.25;
}

#locations {
  min-height: 100vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eee5e9;
}

#locations .locations-text {
  width: 50%;
  text-align: center;
}

#locations .locations-text h1 {
  font-size: 2.5em;
  letter-spacing: 0.5em;
}

#locations .locations-text ul li {
  font-family: "Oswald";
  font-size: 3em;
}

#locations .locations-text ul li:hover {
  cursor: pointer;
  color: #e75a7c;
}

#locations .locations-image {
  height: 100vh;
  width: 50%;
}

#locations .locations-image img {
  height: 100%;
  width: 100%;
}

@media (max-width: 575.98px) {
  .top-nav ul {
    display: none;
  }
  .top-nav .dropdown-button {
    display: block;
  }
  #story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #story .story-image {
    width: 100%;
    height: 50%;
  }
  #story .story-text {
    width: 100%;
    height: 50%;
  }
  #pricing .pricing-header h1 {
    font-size: 2rem;
  }
  #locations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #locations .locations-text {
    width: 100%;
  }
  #locations .locations-image {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .top-nav ul {
    display: none;
  }
  .top-nav .dropdown-button {
    display: block;
  }
  #story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #story .story-image {
    width: 100%;
  }
  #story .story-text {
    width: 100%;
  }
  #pricing .pricing-header h1 {
    font-size: 2rem;
  }
  #locations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5em;
  }
  #locations .locations-text {
    width: 100%;
  }
  #locations .locations-image {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .top-nav ul {
    display: none;
  }
  .top-nav .dropdown-button {
    display: block;
  }
  #story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #story .story-image {
    width: 100%;
    height: 50%;
  }
  #story .story-text {
    width: 100%;
    height: 50%;
  }
  #pricing .pricing-header h1 {
    font-size: 2rem;
  }
  #locations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #locations .locations-text {
    width: 100%;
  }
  #locations .locations-text ul li,
  #locations .locations-text h1 {
    font-size: 2em;
  }
  #locations .locations-image {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */